.header-bottom {
    background: #b0262a;
}

small {
    color: #000000;
}

.introduce-container small {
    color: #ffffff;
}

.header-bottom h1 {
    color: #ffffff;
}

.introduce-container hr {
    border: 0;
    height: 2px;
    margin: 0;
    background: #cacaca;
}

.section h3 {
    border-left: 2px solid #b0262a;
    padding-left: 5px;
    color: #b0262a;
    font-weight: bold;
}

.footer h4 {
    color: #000000;
    padding-left: 18px;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer .offices {
    background: transparent url('https://mailbox.alaturkatravel.info/mail-assets/marker.png') no-repeat;
}

.footer .websites {
    background: transparent url('https://mailbox.alaturkatravel.info/mail-assets/website.png') no-repeat;
}

.footer .contact {
    background: transparent url('https://mailbox.alaturkatravel.info/mail-assets/info.png') no-repeat;
}

.footer ul li {
    color: #000000;
    font-size: 12px;
    content: "" !important;
    list-style: none !important;
}

.footer ul li a {
    color: #000000;
}

.footer ul li a:hover {
    color: #b0262a;
}

.footer ul {
    margin-top: 0;
    padding-left: 5px;
    padding-top: 0;
}

.section img {
    max-height: 200px;
    width: 100%;
}

.social {
    margin-top: 0;
}

.footer p {
    font-size: 12px;
    color: #818181;
}
.footer p a {
    color: #616161;
}

.section-container {
}

.hr-style {
    border: 0;
    height: 1px;
    background: #8c8b8b;
}

.hr-top {
    border: 0;
    height: 5px;
    background: #8c8b8b;
}